# Default ignored files
/shelf/
/workspace.xml
.idea
# Datasource local storage ignored files
/../../../../../../../:\Users\Hijoxx\go\src\gowiki-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
